In [8]:
import pandas as pd
df1 = pd.read_csv("E:\\Python\\Python\\pandas\\15_ts_date_range\\aapl.csv")
df1

         Date    Open    High     Low   Close    Volume
0    1-Jun-17  153.17  153.33  152.22  153.18  16404088
1    2-Jun-17  153.58  155.45  152.89  155.45  27770715
2    5-Jun-17  154.34  154.45  153.46  153.93  25331662
3    6-Jun-17  153.90  155.81  153.78  154.45  26624926
4    7-Jun-17  155.02  155.98  154.48  155.37  21069647
5    8-Jun-17  155.25  155.54  154.40  154.99  21250798
6    9-Jun-17  155.19  155.19  146.02  148.98  64882657
7   12-Jun-17  145.74  146.09  142.51  145.42  72307330
8   13-Jun-17  147.16  147.45  145.15  146.59  34165445
9   14-Jun-17  147.50  147.50  143.84  145.16  31531232
10  15-Jun-17  143.32  144.48  142.21  144.29  32165373
11  16-Jun-17  143.78  144.50  142.20  142.27  50361093
12  19-Jun-17  143.66  146.74  143.66  146.34  32541404
13  20-Jun-17  146.87  146.87  144.94  145.01  24900073
14  21-Jun-17  145.52  146.07  144.61  145.87  21265751
15  22-Jun-17  145.77  146.70  145.12  145.63  19106294
16  23-Jun-17  145.13  147.16  145.11  146.28  35439389
17  26-Jun-17  147.17  148.28  145.38  145.82  25692361
18  27-Jun-17  145.01  146.16  143.62  143.73  24761891
19  28-Jun-17  144.49  146.11  143.16  145.83  22082432
20  29-Jun-17  144.71  145.13  142.28  143.68  31499368
21  30-Jun-17  144.45  144.96  143.78  144.02  23024107

In [9]:
df2 = pd.read_csv("E:\\Python\\Python\\pandas\\15_ts_date_range\\aapl_no_dates.csv")
df2

      Open    High     Low   Close    Volume
0   153.17  153.33  152.22  153.18  16404088
1   153.58  155.45  152.89  155.45  27770715
2   154.34  154.45  153.46  153.93  25331662
3   153.90  155.81  153.78  154.45  26624926
4   155.02  155.98  154.48  155.37  21069647
5   155.25  155.54  154.40  154.99  21250798
6   155.19  155.19  146.02  148.98  64882657
7   145.74  146.09  142.51  145.42  72307330
8   147.16  147.45  145.15  146.59  34165445
9   147.50  147.50  143.84  145.16  31531232
10  143.32  144.48  142.21  144.29  32165373
11  143.78  144.50  142.20  142.27  50361093
12  143.66  146.74  143.66  146.34  32541404
13  146.87  146.87  144.94  145.01  24900073
14  145.52  146.07  144.61  145.87  21265751
15  145.77  146.70  145.12  145.63  19106294
16  145.13  147.16  145.11  146.28  35439389
17  147.17  148.28  145.38  145.82  25692361
18  145.01  146.16  143.62  143.73  24761891
19  144.49  146.11  143.16  145.83  22082432
20  144.71  145.13  142.28  143.68  31499368
21  144.45  144.96  143.78  144.02  23024107